#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator-container {
  background-color: whitesmoke;
  border: 1px solid gray;
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 8px;
}

button {
  background-color: lightblue;
}
